.game-sketch-container {
    position: absolute;
    top: 35vh;
    left:-5vh;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  
  .sketch-container1 {
    position: absolute;
    top: 15vh;
    left: 100vh;
    gap: 20px; 
  }
  
  .tutor {
    width: 100%; /* Make sure the Sketch component takes the full width */
    height: 400px; /* Adjust as needed */
  }
  